<% include ./partials/header.ejs %>
    <br>
    <br>
    <div class="container">
        <div class="jumbotron">
                <h1>Test</h1>
                <h6>-By Deepak Tatineni</h6>
                <a href="/generate-random-employees" class="btn btn-primary btn-lg" >Generate random employees</a>
        </div>
    </div>

<% include ./partials/footer.ejs %>